@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
* { margin: 0; padding: 0; box-sizing: border-box; }

html { font-size: 16px; }

header { background: './images.background.png'; }

.navbar a { text-decoration: none; }

.navbar .golden-logo { font-family: 'Oleo Script', cursive; font-size: 26px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQSxnRkFBZ0Y7QUFDaEYsOExBQThMO0FBQzlMLHdHQUF3RztBQUN4RyxJQUFJLFNBQVMsRUFBRSxVQUFVLEVBQUUsc0JBQXNCLEVBQUU7O0FBRW5ELE9BQU8sZUFBZSxFQUFFOztBQUV4QixTQUFTLHFDQUFxQyxFQUFFOztBQUVoRCxZQUFZLHFCQUFxQixFQUFFOztBQUVuQyx1QkFBdUIsbUNBQW1DLEVBQUUsZUFBZSxFQUFFIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */