@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
.hero-text > * { text-align: center; display: block; color: white; }

.hero-text button { width: 250px; height: 70px; margin: 30px auto; background: #fed136; font: 18px 'Montserrat'; font-weight: 700; letter-spacing: .1rem; text-transform: uppercase; border: none; border-radius: 5px; position: relative; }

.hero-text button::after { border-radius: inherit; top: 0; left: 0; position: absolute; width: 100%; height: 100%; content: ""; background: rgba(0, 0, 0, 0.5); opacity: 0; transition: .2s all; }

.hero-text button:hover::after { opacity: 1; cursor: pointer; }

.hero-text :nth-child(1) { font: 40px 'Roboto'; }

.hero-text :nth-child(2) { font: 70px 'Montserrat'; text-transform: uppercase; }

.grid-wrapper { display: grid; height: 50vh; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; grid-template-areas: "section-header section-header section-header"  "content1" "content2" "content3"; }

.section-header { grid-area: section-header; }

.content1 { grid-area: content1; }

.content2 { grid-area: content2; }

.content3 { grid-area: content3; }
* { margin: 0; padding: 0; box-sizing: border-box; }

html { font-size: 16px; }

.header-hero { background-image: url("../images/background.png"); background-size: contain; max-width: 950px; margin: 0 auto; padding-bottom: 50px; }

.navbar { display: flex; justify-content: space-between; align-items: baseline; padding: 40px 0; }

.navbar .nav-menu { display: flex; justify-content: space-between; align-items: center; font-family: 'Montserrat'; }

.navbar .nav-menu .nav-item { padding: 10px 20px; list-style: none; text-decoration: none; transition: background .2s; }

.navbar .nav-menu .nav-item:hover { background: rgba(0, 0, 0, 0.6); cursor: pointer; }

.navbar .nav-menu .nav-link { color: white; text-decoration: none; }

.navbar .hamburger { display: none; }

.navbar .golden-logo { font-family: 'Oleo Script', cursive; font-size: 45px; color: #fed136; text-decoration: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxnRkFBZ0Y7QUFDaEYsOExBQThMO0FBQzlMLHdHQUF3RztBQUN4RyxpQkFBaUIsa0JBQWtCLEVBQUUsY0FBYyxFQUFFLFlBQVksRUFBRTs7QUFFbkUsb0JBQW9CLFlBQVksRUFBRSxZQUFZLEVBQUUsaUJBQWlCLEVBQUUsbUJBQW1CLEVBQUUsdUJBQXVCLEVBQUUsZ0JBQWdCLEVBQUUscUJBQXFCLEVBQUUseUJBQXlCLEVBQUUsWUFBWSxFQUFFLGtCQUFrQixFQUFFLGtCQUFrQixFQUFFOztBQUUzTywyQkFBMkIsc0JBQXNCLEVBQUUsTUFBTSxFQUFFLE9BQU8sRUFBRSxrQkFBa0IsRUFBRSxXQUFXLEVBQUUsWUFBWSxFQUFFLFdBQVcsRUFBRSw4QkFBOEIsRUFBRSxVQUFVLEVBQUUsbUJBQW1CLEVBQUU7O0FBRWpNLGlDQUFpQyxVQUFVLEVBQUUsZUFBZSxFQUFFOztBQUU5RCwyQkFBMkIsbUJBQW1CLEVBQUU7O0FBRWhELDJCQUEyQix1QkFBdUIsRUFBRSx5QkFBeUIsRUFBRTs7QUFFL0UsZ0JBQWdCLGFBQWEsRUFBRSxZQUFZLEVBQUUsa0NBQWtDLEVBQUUsMkJBQTJCLEVBQUUsc0dBQXNHLEVBQUU7O0FBRXROLGtCQUFrQix5QkFBeUIsRUFBRTs7QUFFN0MsWUFBWSxtQkFBbUIsRUFBRTs7QUFFakMsWUFBWSxtQkFBbUIsRUFBRTs7QUFFakMsWUFBWSxtQkFBbUIsRUFBRTtBQUdqQyxJQUFJLFNBQVMsRUFBRSxVQUFVLEVBQUUsc0JBQXNCLEVBQUU7O0FBRW5ELE9BQU8sZUFBZSxFQUFFOztBQUV4QixlQUFlLGlEQUFpRCxFQUFFLHdCQUF3QixFQUFFLGdCQUFnQixFQUFFLGNBQWMsRUFBRSxvQkFBb0IsRUFBRTs7QUFFcEosVUFBVSxhQUFhLEVBQUUsOEJBQThCLEVBQUUscUJBQXFCLEVBQUUsZUFBZSxFQUFFOztBQUVqRyxvQkFBb0IsYUFBYSxFQUFFLDhCQUE4QixFQUFFLG1CQUFtQixFQUFFLHlCQUF5QixFQUFFOztBQUVuSCw4QkFBOEIsa0JBQWtCLEVBQUUsZ0JBQWdCLEVBQUUscUJBQXFCLEVBQUUsMEJBQTBCLEVBQUU7O0FBRXZILG9DQUFvQyw4QkFBOEIsRUFBRSxlQUFlLEVBQUU7O0FBRXJGLDhCQUE4QixZQUFZLEVBQUUscUJBQXFCLEVBQUU7O0FBRW5FLHFCQUFxQixhQUFhLEVBQUU7O0FBRXBDLHVCQUF1QixtQ0FBbUMsRUFBRSxlQUFlLEVBQUUsY0FBYyxFQUFFLHFCQUFxQixFQUFFIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */