@import './globals.scss';

.hero-text{
    >*{
        
        text-align: center;
        display: block;
        color: white;
    }
    button{
        width: 250px;
        height: 70px;
        margin: 30px auto;
        background: $golden-logo;
        font: 18px 'Montserrat';
        font-weight: 700;
        letter-spacing: .1rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        position: relative;

        &::after{
            border-radius: inherit;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba($color: #000000, $alpha: .50);
            opacity: 0;
            transition: .2s all;
        }

        &:hover::after{
            opacity: 1;
            cursor: pointer;
        }
    }

    :nth-child(1){
        font: 35px 'Roboto' ;
        margin-bottom: 20px;
        
    }
    :nth-child(2){
        font: 50px 'Montserrat';
        text-transform: uppercase;
    }
    
}