@import './hero-text.scss';
@import './grid.scss';
@import './footer.scss';
@import './globals.scss';
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 16px;
}

.color-wrapper {
    background: $background-gray;
}

.width-wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.header-hero {
    background-image: url("../images/background.png");
    background-size:cover;
    // max-width: $max-width;
    margin: 0 auto;
    padding-bottom: 50px;
    height: 100vh;
    // max-height: 400px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 0;
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat';
        
        .nav-item{
            // margin: 0 20px;
            padding: 10px 20px;
            list-style: none;
            text-decoration: none;
            transition: background .2s ;

            &:hover{
                background:rgba($color: #000, $alpha: .6);
                cursor: pointer;
            }
        }

        .nav-link{
            color: white;
            text-decoration: none;
        }
    }

    .hamburger{
        display: none;
    }

    .golden-logo {

        font-family: 'Oleo Script', cursive;
        font-size: 45px;
        color: $golden-logo ;
        text-decoration: none;
        padding: 0 20px;
    }
}

